<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Adding new Services</h1>
    <form action="/services" method="post">
        <label>Add new service:</label>
        <br>
        <input type="text" id="serviceName" name="serviceName" placeholder="add service">
        <br>
        <label>Add Cost:</label>
        <br>
        <input type="text" id="serviceCost" name="serviceCost" placeholder="add service cost">
        <br>
        <label>Add Time duration:</label>
        <br>
        <input type="text" id="serviceTime" name="serviceTime" placeholder="add service time">
        <br>
        <button type="submit">Add service</button>
    </form>
</body>
</html>